
<div class="pws-page">
    <!-- end -->
    <div class="sys-content"></div>
    <!-- Tool -->
    <section class="P-Tools">
        <header>
            <div class="M-Tools-Top">
                <h2 class="A-Text-38L">Personal Instalment Loan repayment calculator</h2>
                <p class="A-Text-16R">See how much your monthly and total repayments would be, based on how much you’d like to borrow, and how long for.</p>
            </div>
        </header>
        <section class="T-content">
            <div data-component="LoanForm" data-habitat-class="T-Tools-Left">></div>
            <div data-component="LoanResult" data-habitat-class="T-Tools-Right">></div>
        </section>
        <footer><a href="" class="A-button-red">Get Started</a></footer>
    </section>
    <!-- /end Tool -->
</div>
<!-- Main PWS Wrapper -->
</div>
<!-- end -->
